@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #4caf50;
  color: white;
  padding: 1rem 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header a {
  color: white;
  text-decoration: none;
} */

/* .hero {
  background: #f4f4f4;
  padding: 4rem 0;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero h2 {
  margin-bottom: 1rem;
}

.hero button {
  background: #4caf50;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

.features-grid,
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.feature-item,
.testimonial-item {
  background: white;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
li img {
  width: 20px; 
  height: auto; 
} */

/* .button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.button-with-border {
  /* Button style with border *
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.button-without-border {
  background-color: #000;
  color: #fff;
} */

/* .section {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.section h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: #333;
}

.section-items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
} */

/* .card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px 0;
  text-align: center;
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card h2 {
  font-size: 24px;
  margin: 12px 0;
  color: #333;
}

.card h3 {
  font-size: 18px;
  margin: 8px 0;
  color: #666;
}

.card p {
  font-size: 16px;
  margin: 12px 0;
  color: #777;
}

.card button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.card button:hover {
  background-color: #0056b3;
}  */
